/* .cssremunit, .flexbox, .flexwrap */
/* .no-cssremunit, .no-flexbox, .no-flexwrap */


/* General styling */
html {
  font-size: 18px;
}

body, a {
  font-family: Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display:/ flex;
  align-items:/ center;
}

/* Header styling */
#websitetop {
  width: 100%;
  background-color: black;
}

#websitetop img {
  height: 1.5rem;
  padding: 0.66rem 1rem 0.66rem 0.5rem;
}

.no-cssremunit #websitetop img {
  height: 27px;
  padding: 12px 18px 12px 9px;
}

#webitetop h1 {
  font-size: 1rem;
}

.no-cssremunit #webitetop h1 {
  font-size: 18px;
}

#promotion {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.no-cssremunit #promotion {
  height: 450px;
}

#news {
  width: 20rem;
  padding: 2rem 0 2rem 3rem;
  background-color: black;
  margin-top: 9rem;
  font-weight: bold;
}

.no-cssremunit #news {
  width: 360px;
  padding: 36px 0 36px 54px;
  margin-top: 162px;
}

#news h2 {
  font-size: 2rem;
}

.no-cssremunit #news h2 {
  font-size: 36px;
}

nav {
  width: 100%;
  background-color: firebrick;
}

#mobile-nav {
  display: none;
}

nav ul {
  display:/ flex;
  justify-content:/ space-between;
  align-items:/ center;
  width: 100%;
  padding: 0.75rem 0;
}

.no-cssremunit nav ul {
  padding: 14px 0;
}

/* Main styling */
main .container {
  display:/ flex;
  justify-content:/ space-between;
  align-items:/ center;
  width: 960px;
}

main .container figure {
  margin: 3rem 0 0 0;
  border: 4px solid black;
  width: 30%;
  text-align: center;
}

.no-cssremunit main .container figure {
  margin: 54px 0 0 0;
}

main .container figure img {
  height: 9rem;
  max-width: 100%;
  margin: 2rem 0;
 }

.no-cssremunit main .container figure img {
   height: 162px;
   margin: 36px 0;
 }

main .container figure figcaption {
   background-color: black;
   padding: 0.5rem 0;
 }

.no-cssremunit main .container figure figcaption {
  pading: 9px 0;
}

main address {
  display:/ inline-block;
  width: 35%;
  margin-top: 3rem;
}

.no-cssremunit main address {
  margin-top: 54px;
}

.span-title {
  display: inline-block;
  background-color: black;
  width: 100%;
  padding: 1rem 0rem 1rem 2rem;
  box-sizing: border-box;
}

.no-cssremunit .span-title {
  padding: 18px 0 18px 36px;
}

.span-text {
  color: black;
}

/* footer styling */
footer {
  margin-top: 4rem;
  height: 10rem;
  background-color: black;

  display: flex;
  align-items: center;
}

.no-cssremunit footer {
  margin-top: 72px;
  height: 180px;
}

/* no-flexbox styling */
#websitetop img, #websitetop h1 {
  display: inline-block;
}

#websitetop h1 {
  position: relative;
  bottom: 17px;
}

#news {
  margin-top: 0px;
  position: relative;
  top: 180px;
}




/* Tablet CSS */
@media only screen and (max-width: 959px) {

.container {
  max-width: 100%;
  box-sizing: border-box;
}

main .container {
  flex-wrap:/ wrap;
  padding: 0rem 2rem;
}

.no-cssremunit main .container {
  padding: 0 36px;
}

main .container figure {
  width: 47%;
}

nav ul {
  padding: 0.75rem 2rem;
}

.no-cssremunit nav ul{
  padding: 14px 36px;
}

}



/* Phone styling */
@media only screen and (max-width: 550px) {

#promotion {
  height: 15rem;
}

.no-cssremunit #promotion {
  height: 270px;
}

#news {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0 1rem 2rem;
  margin-top: 10rem;
}

.no-cssremunit #news {
  padding: 18px 0 18px 36px;
  margin-top: 180px;
}

#news h2 {
  font-size: 1rem;
}

.no-cssremunit #news h2 {
  font-size: 18px;
}

#news span {
  font-size: 0.77rem;
}

.no-cssremunit #news span {
  font-size: 14px;
}

nav ul li {
  display: none;
}

#mobile-nav {
  display: inline-block;
  margin: 0 auto;
}

main .container {
  padding: 0;
}

main .container figure {
  width: 90%;
  margin: 1rem auto 0 auto;
}

.no-cssremunit main .container figure {
  margin: 18px auto 0 auto;
}

#addresses {
  flex-wrap: wrap;
  margin-top: 3rem;
}

.no-cssremunit #addresses {
  margin-top: 54px;
}

main .container address {
  width: 90%;
  margin: 0 auto 0.5rem auto;
}

.no-cssremunit main .container address {
  margin: 0 auto 9px auto;
}

footer .container p {
  margin: 0 auto;
}

}
